<ion-content>
  <ion-grid>
    <ion-row
      class="ion-justify-content-center"
      style="height: 85%"
    >
      <ion-col
        class="ion-align-self-center"
        size-xs="12"
        size-md="12"
        size-lg="5"
        ><ion-item color="transparent" lines="none">
          <ion-label>Sign In</ion-label>
        </ion-item>
        <ion-card class="ion-padding">
          <form
            [formGroup]="loginForm"
            (ngSubmit)="login()"
            (keyup.enter)="login()"
          >
            <ion-item>
              <ion-label position="floating" color="medium">Username</ion-label>
              <ion-input formControlName="username" type="text"></ion-input>
            </ion-item>
            <div
              class="error-message-container ion-text-left"
              *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
            >
              <span
                class="error-input-message"
                *ngIf="loginForm.controls['username'].getError('required')"
                ><ion-icon name="alert-circle-outline"></ion-icon>
                Username is required
              </span>
            </div>

            <ion-item>
              <ion-label position="floating" color="medium">Password</ion-label>
              <ion-input
                formControlName="password"
                type="password"
                #passwordInput
              ></ion-input>
            </ion-item>
            <div
              class="error-message-container ion-text-left"
              *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
            >
              <span
                class="error-input-message"
                *ngIf="loginForm.controls['password'].getError('required')"
                ><ion-icon name="alert-circle-outline"></ion-icon>
                Password is required
              </span>
              <span
                class="error-input-message"
                *ngIf="loginForm.controls['password'].getError('minlength')"
                ><ion-icon name="alert-circle-outline"></ion-icon>
                Password character must be more than 6 characters
              </span>
            </div>

            <ion-button
              class="button-default ion-margin-top"
              type="submit"
              expand="block"
              [disabled]="!loginForm.valid"
            >
              <span>Sign In</span>
            </ion-button>
            <ion-item lines="none">
              <ion-label class="ion-text-center"
                ><small>Forgot Password?</small></ion-label
              ></ion-item
            >
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
