<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedReservationOrder.orderRefNo }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" padding>
  <ion-item>
    <ion-label>Reserved By</ion-label>
    <ion-label> {{ selectedReservationOrder.reservedBy }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Time Slot</ion-label>
    <ion-label> {{ selectedReservationOrder.timeSlot }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Number of People</ion-label>
    <ion-label> {{ selectedReservationOrder.peopleCount }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Occasion</ion-label>
    <ion-label> {{ selectedReservationOrder.occasion }}</ion-label>
  </ion-item>
  <ion-button color="primary" (click)="onSelect()">Select</ion-button>
</ion-content>
