<ion-header>
    <ion-toolbar>
        <ion-title>Create Reservation</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onCancel()" color="danger">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
    <ion-list lines="full" class="ion-no-margin">
        <ion-item>
            <ion-label position="stacked">Reserved By</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Time Slot</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Number of People</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Occasion</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-list>
    <ion-button color="primary" (click)="save()" expand="block">Save</ion-button>
</ion-content>