<ion-header>
  <ion-toolbar>
    <ion-title>Tables</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-searchbar
          showCancelButton="focus"
          debounce="300"
          placeholder="Search Table"
          [(ngModel)]="searchTerm"
          (ionChange)="searchTable()"
        ></ion-searchbar>      
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item
            [routerLink]="['/', 'main', 'tabs', 'tables', table.id]"
            detail
            *ngFor="let table of tables"
          >
            <ion-grid>
              <ion-row >
                <ion-col size="3">
                  <ion-label>
                    <h3>{{ table.name }}</h3>
                  </ion-label>
                </ion-col>
                <ion-col size="5">
                  <ion-badge
                    [color]="table.status == 'Available'
                        ? 'success' 
                        : (table.status == 'Reserved' 
                            ? 'warning' 
                            : 'danger')"
                  >
                    <ion-label> {{ table.status }} </ion-label>
                  </ion-badge>
                </ion-col>
                <ion-col size="4">
                  <ion-item >  
                    <ion-icon  name="accessibility-outline"></ion-icon>
                   {{ table.numberOfPax }}
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
