<ion-header>
  <ion-toolbar>
    <ion-title>{{table.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="table.status === 'Available'">
    <ion-row>
      <ion-col size="12">
        <h4>Select the Reservation</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-button
            size="12"
            slot="end"
            color="secondary"
            (click)="createAndSelectReservation()"
            >Create and Select Reservation</ion-button
          >
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-searchbar
            showCancelButton="focus"
            debounce="300"
            placeholder="Search"
            [(ngModel)]="searchTerm"
            (ionChange)="searchReservation()"
          ></ion-searchbar>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item
            detail
            *ngFor="let reservationOrder of inProgressReservationOrders"
            (click)="onSelectReservation(reservationOrder)"
          >
            <ion-label>
              <h3>{{ reservationOrder.orderRefNo }}</h3>
            </ion-label>
            <ion-item slot="end">
              <ion-icon name="accessibility-outline"></ion-icon>
              <p>{{ reservationOrder.peopleCount }}</p>
            </ion-item>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="table.status === 'Reserved'">
    <ion-row>
      <ion-col size="12">
        <h4>Table reserved by order: {{ tableReservationOrder.orderRefNo}}</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Reserved By</ion-label>
          <ion-label> {{ tableReservationOrder.reservedBy }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Time Slot</ion-label>
          <ion-label> {{ tableReservationOrder.timeSlot }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Number of People</ion-label>
          <ion-label> {{ tableReservationOrder.peopleCount }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Occasion</ion-label>
          <ion-label> {{ tableReservationOrder.occasion }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="table.status === 'Unavailable'">
    <ion-row>
      <ion-col size="12">
        <p>Customers at this point are eating at this table.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button
    color="danger"
    (click)="setToUnavailable()"
    *ngIf="table.status === 'Available' || table.status === 'Reserved'"
    expand="block"
    >Set to Unavailable</ion-button
  >
  <ion-button
    (click)="setToAvailable()"
    *ngIf="table.status === 'Unavailable'"
    expand="block"
    >Set to Available</ion-button
  >
</ion-footer>
