<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            />
          </ion-avatar>
          <ion-label>
            <h2><b>John Doe</b></h2>
            <p>0812-3456-7891</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-button
    (click)="logout()"
    expand="block"
    >Sign Out</ion-button
  >
  </ion-footer>
